* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  background-image: url("img/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.container-perso {
  height: 100vh;
  background-image: url("img/background3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-univers {
  height: 100vh;
  background-image: url("img/background1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.desc-perso {
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  
  margin: 0 auto;
  background-color: black;
}

.swiper {
  width: 500px;
  height: 750px;
  border-radius: 20px;
  /* scale: 80%; */
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav a {
  margin: 10px;
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: bisque;
  background-color: black;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: bisque;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.navigation {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 50%;
}

.container-main {
  display: flex;
  margin: 20px;
}

.main-index  {
  text-align: center;
  margin: 100px;
  font-size: 50px;
  color: bisque;
}

.text-perso {
  margin: auto;
  width: 600px;
  color: bisque;
}

.text-perso h2 {
  font-size: 40px;
  margin: 20px;
}


.text-img-perso {
  color: bisque;
  background-color: black;
  text-align: center;
}

.title{
text-align: center;
color: bisque;
font-size: 70px;

}

.main-univers {
  margin: 50px;
}

.text-univers {
  width: 700px;
  margin: auto;
  font-size: 25px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-align: center;
}